body
{
    color: coral;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: khaki;
}
h1 
{
    color: darkblue;
    text-align: left;
    background-color: deepskyblue;
}
p
{
    color: indigo;
    text-align: right;
}

#cabecera
{
    background-color: darkslategrey;
    color: floralwhite;
}